@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
    padding: 0;
    margin: 0;
    
}


:root{
    --color-fond:#445056;
}
body {
    background-color: var(--color-fond);
    font-family: "Playfair Display", serif;
    
}
.section{
  
    width: 83%;
    height: calc(100vh - 91px - 72px);
    display: flex;
    margin: auto 40px auto auto;
    align-items: end;
    grid-template-columns: 2fr 1fr;
   
  
    
}
.head{

    width: 90%;
    margin: auto;
}

.img_alu {
    margin-top: 40px;
}

.container_texarea{
    
   display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

}

.text_area{
    width: 100%;
    font-size: 32px;
    border: none;
    resize: none;
    background-color: var(--color-fond);
    outline: none;
   color: white;
}
.text_area::placeholder{
    background-color: none;
    color: white;
}
.bot_mensa{
    display: flex;
    flex-direction: column;
}
.condiciones_cont{
    font-size: 1rem;
    color: #D6E6EA;
}
.container_boton{
    margin-top: 16px;
    display: flex;
    width: 100%;
    height: 67px;
    gap: 24px;
    justify-content: center;
   
   
    
}
.boton_e{
    height: 100%;
    width: 40%;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    background-color: #09D5D5;
    border: 2px solid ;

}
.boton_e:hover{
    background-color: var(--color-fond);
}
.boton_d{
    height: 100%;
    width: 40%;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    background-color: #C7E126;
    border: 2px solid ;

    
}
.boton_d:hover{
    background-color: var(--color-fond);
}
.container_imgmsn{
    background-color: #B8CFDA;
  
    width: 40%;
    height: calc(100% + 48px);
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 32px;
    gap: 16px;
    align-items: center;

}
.muñeco{
    width: 100%;
}

.no_encriptado{
    margin-top: 16px;
    text-align: center; 
    font-size: 24px;
    font-weight: bold;
}
.last_msg{
    text-align: center;
    
}
.bot_copiar{
    height: 67px;
    width: 40%;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    border: 2px solid ;
}
.oculto{
    display: none;
}

@media(max-width:768px){
    .section{
       
        flex-direction: column;
       justify-content: center;
        margin: auto;
        height: 100%;
        width: 90%;
       
    }
    .container_imgmsn{
        width: 100%;
    }
    .container_texarea{
        width: 100%;
    }
 }